include includes/header.pug
body
  include includes/nav.pug
  - var userIsProfileOwner = data.isProfileOwner || false
  - var friendStatus       = data.friendStatus || ''
  - var friendsConfirmed   = data.friendsConfirmed || []
  - var friendsPending     = data.friendsPending || []
  - var friendsRejected    = data.friendsRejected || []
  - var friendsRequested   = data.friendsRequested || []
  - var friendsCount       = data.friendsCount || 0
  - var profileMessages    = data.messages || []
  - var profilePic         = data.profilePic || false
  .ui.grid
    //- .stretched.row
    //- PROFILE INFOS
    .three.wide.column
      .profilewrapper
        .ui.segment
          .ui.card
            .image
              if profilePic != '' && profilePic
                img#profile-pic(src='/upload/' + profilePic alt="profilePic")
              else
                if userIsProfileOwner
                  .ui.segment
                    form.ui.form.user-post(action="/profile/upload-file" method="POST" name='image-upload' enctype="multipart/form-data")
                      .field
                        label Choisissez une photo de profil
                        .ui.user-post.input
                          input#upload-file-input(type='file', name='file-upload', placeholder='Upload Image')
                      button#upload-file-button.ui.primary.button(type='submit') Upload
            .content
              .header #{data.searchedProfile}
              .meta
                span.date Membre depuis #{data.joinedIn}
              .description
                | #{data.bio}
            .extra.content
              a.display-friends
                | Afficher les amis
                br
                i.user.icon
                span  #{friendsCount}   

        //- FOLLOW BUTTON
        if !userIsProfileOwner && data.role != 'v'
          if friendStatus == 'confirmed'
            .ui.segment
              #remove-friend-accepted.ui.fluid.positive.button
                i.user.times.icon
                | Supprimer des amis
          else if friendStatus == 'requested'
            .ui.segment
              #add-friend-requested.ui.fluid.disabled.secondary.button
                i.paper.plane.icon
                | Demandes en attente
          else if friendStatus == 'unaccepted'
            .ui.segment
              #add-friend-unaccepted.ui.fluid.disabled.negative.button
                i.user.secret.icon
                |
          else
            .ui.segment
              #add-friend.ui.fluid.primary.button
                i.user.plus.icon
                | Demander en ami

    //- WALL
    .nine.wide.column.hidden
      #wallwrapper

        if userIsProfileOwner
          .ui.segment
            form.ui.form.user-post(action="/account/login" name='user-post-form')
              .field
                .ui.user-post.input
                  textarea#user-post(name='user-post', row="1", cols="33")
                    | Quoi de neuf ?
              #post-submit.ui.primary.button Submit
        //- POSTS
        #post-wrapper
          include includes/delete-post-modal.pug
          each post in profileMessages
            .ui.segment(id='' + post._id)
              .ui.items
                .item
                  .image#post-profile-pic
                    if profilePic != '' && profilePic
                      img(src='/upload/' + profilePic alt="profilePic")
                  .content
                    a.header(href='/profile/' + post.username) #{post.username}
                    .meta
                      span #{post.creationDate}
                    .description
                      p #{post.content}
                    if userIsProfileOwner || data.role == 'a'
                      .extra
                        button.ui.compact.icon.negative.button.right.floated.delete-post
                          i.trash.icon
                        //- button.ui.compact.icon.primary.button.right.floated.edit-post
                          i.edit.icon

        include includes/empty-post-modal.pug
          .ui.large.centered.inline.text.loader
            | Ajout de contenu...

      #friendswrapper.hiddenthing
        .ui.segment#friends-cards
          h3 Amis
          .ui.cards
            each card in friendsConfirmed
              .card
                .content
                  //- img.right.floated.mini.ui.image(src='/images/avatar/large/elliot.jpg')
                  //- img.right.floated.mini.ui.image(src='/upload/' + card alt="friend pic")
                  .header
                    a(href='/profile/' + card) #{card}
                if userIsProfileOwner
                  .extra.content
                    .ui.buttons
                      .ui.negative.button.remove-friend Remove
        if userIsProfileOwner
          .ui.segment#pending-friends-cards
            h3 En attente d'acceptation
            .ui.cards
              each card in friendsPending
                .card
                  .content
                    //- img.right.floated.mini.ui.image(src='/images/avatar/large/elliot.jpg')
                    .header
                      a(href='/profile/' + card) #{card}
                    if userIsProfileOwner
                      .description
                        | #{card} vous a demandé en ami
                  if userIsProfileOwner
                    .extra.content
                      .ui.two.buttons
                        .ui.primary.button.approve-friend Approuver
                        .ui.black.button.decline-friend Bloquer
        if userIsProfileOwner
          .ui.segment#requested-friends-cards
            h3 Vos demandes d'amis
            .ui.cards
              each card in friendsRequested
                .card
                  .content
                    //- img.right.floated.mini.ui.image(src='/images/avatar/large/elliot.jpg')
                    .header
                      a(href='/profile/' + card) #{card}
        if userIsProfileOwner
          .ui.segment#requested-friends-cards
            h3 Utilisateurs bloqués
            .ui.cards
              each card in friendsRejected
                .card
                  .content
                    //- img.right.floated.mini.ui.image(src='/images/avatar/large/elliot.jpg')
                    .header
                      a(href='/profile/' + card) #{card}
                  if userIsProfileOwner
                    .extra.content
                      .ui.buttons
                        .ui.primary.button.unblock-friend Unblock and add friend

    //- FEED
    .four.wide.column
      if userIsProfileOwner
        .feedwrapper
          .ui.segment
            .ui.vertical.fluid.menu
              a.teal.item#feed-amis
                | Demandes d'amis
                - var friendsPendingcount = friendsPending.length
                .ui.teal.left.pointing.label #{friendsPendingcount}
              //- a.item
                | Spam
                .ui.label 51
              //- a.item
                | Updates
                .ui.label 1
              //- .item
                .ui.transparent.icon.input
                  input(type='text', placeholder='Search mail...')
                  i.search.icon
          //- .ui.segment
          //-   | 2
          //- .ui.segment
          //-   | 3

